﻿@model SuperHeros.DATA.SuperPeople

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>SuperPeople</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alias)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alias)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Origin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Origin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Alignment.Alignment1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Alignment.Alignment1)
        </dd>

    </dl>
</div>
<p>
	@if (User.IsInRole("Admin")) {
		@Html.ActionLink("Edit", "Edit", new { id = Model.SuperPersonID }) @:|
    }
	@Html.ActionLink("Back to List", "Index")
</p>
