﻿@model IEnumerable<SuperHeros.DATA.SuperPeople>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@if (User.IsInRole("Admin")) {
		@Html.ActionLink("Create New", "Create")
	}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Origin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Alignment)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Origin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Alignment.Alignment1)
        </td>
        <td>
			@if (User.IsInRole("Admin")) {
				@Html.ActionLink("Edit", "Edit", new { id=item.SuperPersonID }) @:|
            }
			@if (User.IsInRole("Hero") || User.IsInRole("Admin")) {
				@Html.ActionLink("Details", "Details", new { id=item.SuperPersonID }) @:|
			}
			@if (User.IsInRole("Admin")) {
				@Html.ActionLink("Delete", "Delete", new { id=item.SuperPersonID })
			}
		</td>
    </tr>
}

</table>
