﻿@model SuperHeros.DATA.Events2

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Events2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EventName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Instructor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Instructor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EventTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EventDescription)
        </dt>

        <dd>
			@Html.DisplayFor(model => model.EventDescription)
		</dd>

	</dl>
</div>
<p>
	@if (User.IsInRole("Admin")) {
		@Html.ActionLink("Edit", "Edit", new { id = Model.EventID }) @:|
	}
	@Html.ActionLink("Back to List", "Index")
</p>
