﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>SuperHeros | Material HTML blog template</title>
	<meta name="description"content="Super Hero, Inc., superhero, citizen safety, drop crime rates, villain" />
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500italic,500,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<!-- Bootstrap -->
	<link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
	<!-- FontAwesome -->
	<link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
	<!-- MaterialCSS -->
	<link rel="stylesheet" href="~/Content/css/material.min.css">
	<!-- RipplesCSS -->
	<link rel="stylesheet" href="~/Content/css/ripples.min.css">
	<!-- ThemeCSS & Responsive CSS -->
	<link rel="stylesheet" href="~/Content/style.css">
	<link rel="stylesheet" href="~/Content/css/responsive.css">
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
</head>
<body>
	<header class="header">
		<div data-velocity="-.4" id="particles" class="header-bg"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="social-links">
						<a class="btn social-link" href="javascript:void(0)"><i class="fa fa-facebook"></i> <div class="ripple-wrapper"></div></a>
						<a class="btn social-link" href="javascript:void(0)"><i class="fa fa-twitter"></i> <div class="ripple-wrapper"></div></a>
						<a class="btn social-link" href="javascript:void(0)"><i class="fa fa-google-plus"></i> <div class="ripple-wrapper"></div></a>
						<a class="btn social-link" href="javascript:void(0)"><i class="fa fa-youtube"></i> <div class="ripple-wrapper"></div></a>
						<a class="btn social-link" href="javascript:void(0)"><i class="fa fa-linkedin"></i> <div class="ripple-wrapper"></div></a>
					</div>
				</div>
			</div>
		</div>
		<div class="site-title-table">
			<div class="site-title-tablecell">
				<div class="slide-text">
					<h2><a href="index.html"><span>S</span>uper<span>H</span>eros</a></h2>
					<p>Another exciting blog template from awesome team</p>
				</div>
			</div>
		</div>
	</header>
	<section class="maincontent-wrap">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="maincotnent shadow-z-1">
						<div class="mainmenu">
							<div class="navbar navbar-nobg">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
								</div>
								<div class="navbar-collapse collapse">
									<ul class="nav navbar-nav">
										@*<li class="active"><a href="index.html">Home <div class="ripple-wrapper"></div></a></li>*@
										<li>@Html.ActionLink("Home", "Index", "Home")</li>
										<li>@Html.ActionLink("About", "About", "Home")</li>
										<li>@Html.ActionLink("Archive", "Archive", "Home")</li>
										<li>@Html.ActionLink("Single", "Single", "Home")</li>
										<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
										<li>@Html.ActionLink("Events", "Index", "Events2")</li>
										@if (User.IsInRole("Admin") | User.IsInRole("Hero")) {
											<li>@Html.ActionLink("SuperPeoples", "Index", "SuperPeoples")</li>
										}
										@if (User.IsInRole("Admin")) {
											<li>@Html.ActionLink("Alignments", "Index", "Alignments")</li>
											<li>@Html.ActionLink("View Users", "Index", "UsersAdmin")</li>
										}
										<li>@Html.ActionLink("Register", "Register", "Account")</li>
										<li>@Html.ActionLink("Login", "Login", "Account")</li>
									</ul>
								</div>
							</div>
						</div>
						@RenderBody()
					</div>
				</div>
			</div>
		</div>
	</section>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-lg-offset-1">
					<div class="footer-wid">
						<h2 class="wid-title">A<span>vengers</span></h2>
						<p>
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis
							nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan,
						</p>
					</div>
				</div>
				<div class="col-lg-5 col-md-6">
					<div class="footer-wid">
						<h2 class="wid-title">Newsletter</h2>
						<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
						<div class="newsletter-form">
							<form action="index.html">
								<input class="shadow-z-1" type="email" placeholder="Your Email address">
								<button type="submit" class="btn btn-material-red">Subscribe Now!</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="footer-bottom">
						<div class="row">
							<div class="col-md-8">
								<div class="copyright-text">
									<p>© 2015 Avengers - All Rights Reserved. Coded with <i class="fa fa-heart"></i> by <a href="http://wpexpand.com" target="_blank">WP Expand</a></p>
								</div>
							</div>
							<div class="col-md-4">
								<div class="social-links footer-social-links">
									<a class="btn social-link" href="javascript:void(0)"><i class="fa fa-facebook"></i> <div class="ripple-wrapper"></div></a>
									<a class="btn social-link" href="javascript:void(0)"><i class="fa fa-twitter"></i> <div class="ripple-wrapper"></div></a>
									<a class="btn social-link" href="javascript:void(0)"><i class="fa fa-google-plus"></i> <div class="ripple-wrapper"></div></a>
									<a class="btn social-link" href="javascript:void(0)"><i class="fa fa-youtube"></i> <div class="ripple-wrapper"></div></a>
									<a class="btn social-link" href="javascript:void(0)"><i class="fa fa-linkedin"></i> <div class="ripple-wrapper"></div></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="~/Content/js/vendor/jquery-1.11.2.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="~/Content/js/bootstrap.min.js"></script>
	<script src="~/Content/js/material.min.js"></script>
	<script src="~/Content/js/ripples.min.js"></script>
	<script src="~/Content/js/jquery.scrolly.js"></script>
	<script src="~/Content/js/jquery.particleground.min.js"></script>
	<script src="~/Content/js/main.js"></script>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
@* ----------OLD LAYOUT---------- *@

@*<!DOCTYPE html>
	<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>@ViewBag.Title - My ASP.NET Application</title>
		@Styles.Render("~/Content/css")
		@Scripts.Render("~/bundles/modernizr")

	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					@Html.ActionLink("Application name", "Index", "Home", null, new { @class = "navbar-brand" })
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li>@Html.ActionLink("Home", "Index", "Home")</li>
						<li>@Html.ActionLink("About", "About", "Home")</li>
						<li>@Html.ActionLink("Contact", "Contact", "Home")</li>

						@if (Request.IsAuthenticated && User.IsInRole("Admin")) {
							<li>@Html.ActionLink("RolesAdmin", "Index", "RolesAdmin")</li>
							<li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
						}
					</ul>
					@Html.Partial("_LoginPartial")
				</div>
			</div>
		</div>
		<div class="container body-content">
			@RenderBody()
			<hr />
			<footer>
				<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
			</footer>
		</div>

		@Scripts.Render("~/bundles/jquery")
		@Scripts.Render("~/bundles/bootstrap")
		@RenderSection("scripts", required: false)
	</body>
	</html>*@
