﻿@model IEnumerable<SuperHeros.DATA.Event>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
	@if (User.IsInRole("Admin")) {
		@Html.ActionLink("Create New", "Create")
	}
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EventName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Instructor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EventDescription)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EventName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EventDescription)
        </td>
        <td>
			@if (User.IsInRole("Admin")) {
				@Html.ActionLink("Edit", "Edit", new { id = item.EventID }) @:|
            }
			@Html.ActionLink("Details", "Details", new { id=item.EventID })
            @if (User.IsInRole("Admin")) {
				@:| @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
			}
		</td>
    </tr>
}

</table>
