﻿<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<div class="article-list">
			<div class="archive-title shadow-z-1">
				<h2>Archive for: <span>Videos</span></h2>
			</div>
			<article class="post">
				<header class="article-title text-center">
					<p><a href="archive.html">Movie</a></p>
					<h2><a href="single.html">Ei sundori meyer naam ki?</a></h2>
					<p class="post-meta">by Farhan RIzvi  @Html.Raw("@") 11th May</p>
				</header>
				<div class="article-featured-content shadow-z-2">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://player.vimeo.com/video/113767337" width="500" height="281"></iframe>
					</div>
				</div>
				<div class="post-summary">
					<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
				</div>
				<div class="post-detail-link text-center">
					<a href="single.html" class="btn btn-fab btn-raised btn-material-red">
						<i class="fa fa-plus"></i>
						<div class="ripple-wrapper"></div>
					</a>
				</div>
			</article>
			<article class="post">
				<header class="article-title text-center">
					<p><a href="archive.html">Movie</a></p>
					<h2><a href="single.html">Eita kintu khub bod</a></h2>
					<p class="post-meta">by Farhan RIzvi  @Html.Raw("@") 11th May</p>
				</header>
				<div class="article-featured-content shadow-z-2">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Y9FUzBEH_v8" width="500" height="281"></iframe>
					</div>
				</div>
				<div class="post-summary">
					<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
				</div>
				<div class="post-detail-link text-center">
					<a href="single.html" class="btn btn-fab btn-raised btn-material-red">
						<i class="fa fa-plus"></i>
						<div class="ripple-wrapper"></div>
					</a>
				</div>
			</article>
			<article class="post">
				<header class="article-title text-center">
					<p><a href="archive.html">Movie</a></p>
					<h2><a href="single.html">Ere amar pochondo, but bou jane na!</a></h2>
					<p class="post-meta">by Farhan RIzvi  @Html.Raw("@") 11th May</p>
				</header>
				<div class="article-featured-content shadow-z-2">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/JAUoeqvedMo" width="500" height="281"></iframe>
					</div>
				</div>
				<div class="post-summary">
					<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
				</div>
				<div class="post-detail-link text-center">
					<a href="single.html" class="btn btn-fab btn-raised btn-material-red">
						<i class="fa fa-plus"></i>
						<div class="ripple-wrapper"></div>
					</a>
				</div>
			</article>
			<article class="post">
				<header class="article-title text-center">
					<p><a href="archive.html">Movie</a></p>
					<h2><a href="single.html">Ere amar pochondo, but bou jane na!</a></h2>
					<p class="post-meta">by Farhan RIzvi  @Html.Raw("@") 11th May</p>
				</header>
				<div class="article-featured-content shadow-z-2">
					<div class="embed-responsive embed-responsive-16by9">
						<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/DlM2CWNTQ84" width="500" height="281"></iframe>
					</div>
				</div>
				<div class="post-summary">
					<p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
				</div>
				<div class="post-detail-link text-center">
					<a href="single.html" class="btn btn-fab btn-raised btn-material-red">
						<i class="fa fa-plus"></i>
						<div class="ripple-wrapper"></div>
					</a>
				</div>
			</article>
			<nav role="navigation" class="navigation posts-navigation">
				<div class="nav-links">
					<div class="nav-previous">
						<a href="#">Older posts</a>
					</div>
					<div class="nav-next">
						<a href="#">Newer posts</a>
					</div>
				</div>
			</nav>
		</div>
	</div>
</div>
